@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .html,body{
    height: 100vh;
    margin: 0;
    background-color: blueviolet;
  }

  .head{
    display:none ;
  }

  .container-title-button{
    display:block ;
    height: 15vh;
    margin: 10px;
    background-color: rgb(50, 131, 197);
  }

  
  .h1{
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .app-title{
    text-align: center;
    font-weight: 600;
    margin: 10px; 
    letter-spacing: -1px;
    background-color: aqua;
  }

  .panel-buttons{
    height: 41px;
    margin: 10px;
    background-color: coral;
  }